.da-popup{
	background-color: rgb(0,0,0,.05);
	margin: 0;
	font-size: 16px;
	width: 14em;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

input[type=button]{
	padding: .25rem 1rem;
}

input[type=button] + input[type=button]{
	margin-left: 0.5rem;
}

p{
	margin: 0;
}

p.footer{
	font-size: 0.75em;
	margin-bottom: 1em;
	margin-top: 1em;
}

.da-logo{
	background-color: #fff;
	padding: 1em;
}

.da-logo p{
	margin-top: 1em;
	font-size: 0.75em;
}

.da-logo img{
	width: 64px;
	height: auto;
}

.da-indulging-time-regular{
	display: block;
	margin-top: 0.5em;
}

.da-indulging-time-regular > p:first-child, .da-indulging-time-edit > p:first-child{
	display: flex;
    align-items: center;
    justify-content: center;
}

.da-indulging-time-edit{
	display: none;
	margin-top: 0.5em;
}

.da-enabled, .da-disabled{
	padding: 1em;
}

.da-disabled{
	display: none;
}

.da-popup-disabled .da-disabled{
	display: block;
}

.da-enabled p:last-child, .da-disabled p:last-child{
	margin-top: 1em;
}

.da-popup-disabled .da-enabled{
	display: none;
}

.da-popup-edit .da-indulging-time-regular{
	display: none;
}

.da-popup-edit .da-indulging-time-edit{
	display: block;
}

.da-digits{
	font-size: 2rem;
	line-height: 2rem;
	margin-right: 0.5rem;
}

input.da-digits{
	max-width: 4rem;
	border-width: 0;
	height: 2rem;
	background-color: transparent;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

#da-bar{
	background-color: rgb(0,100,200);
	line-height: 16px;
	z-index: 999999;
	position: fixed;
	transform: translateX(50vw) translateX(-50%) translateY(-100%);
	transition: all 0.3s ease-in-out;
	border-radius: 0 0 8px 8px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	box-shadow: 0 4px 8px rgba(0,0,0,.1);
}

.da-msg{
	text-align: center;
	font-size: 16px !important;
	font-weight: 400 !important;
	color: rgba(255,255,255,.8);
	opacity: 0;
	transition: all 0.3s ease-in-out;
	margin: 0;
	padding: 12px 16px;
	line-height: 20px;
}

.da-fade-in{
	opacity: 1 !important;
}

.da-slide-in{
	transform: translateX(50vw) translateX(-50%) !important;
}

.da-minute{
	color: #fff;
	font-weight: 700;
}

.da-remove-blocked-website-btn{
	cursor:pointer;
}
